*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Raleway" Fallback sans-serif;
    font-size: 18px;
    font-weight: bolder;
    
}

body{
    background-color: #f8f9fc;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
form{
    width: 420px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
select , input {
    margin-bottom: 15px;
}
select{
    background-color: rgb(132, 107, 97);
    border-radius: 8px;
    box-shadow: 0 5px 10px gray;
    border: 1px solid black;
    margin-bottom: 1px;
    
}

#result {
  height: 45px;
  width: 100%;
  background-color: rgba(248, 248, 212, 0.63);
  border-radius: 6px;
  margin-bottom: 12px;
  border: 1px solid black;
}

#result p {
  line-height: 45px;
  padding-left: 10px;
  font-weight: 700;
}
button{
    background-color: aqua;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px black;
    height: 29px;
    border-radius: 12px;
}